[database]
database_host = localhost
database_name = airflow_reddit
database_port = 5432
database_user = postgres
database_password = postgres 

[file_paths]
input_path = /opt/airflow/data/input
output_path = /opt/airflow/data/output

[api_keys]
reddit_secret_key = [reddit_secret_key]
reddit_client_id = [reddit_client_id]

[aws]
aws_access_key_id = [aws_access_key_id]
aws_secret_access_key = [aws_secret_access_key]
aws_session_token = [aws_session_token]
aws_region = [aws_region]
aws_bucket_name = [aws_bucket_name]

[etl_settings]
batch_size = 100
error_handling = abort
log_level = info

# Run the following command inside your AWS EC2 instance to generate your AWS Session token. --duration-seconds can be any number
# aws sts get-session-token --duration-seconds 3600


